<div class="carousel-container flex-center">
  <div class="owl-carousel">
    <%= render "components/feedback_card", content: "1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id et, facilis accusamus, libero explicabo natus cumque ex? Aliquid, blanditiis, sequi.", stars: 2.5 %>
    <%= render "components/feedback_card", content: "2 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias distinctio culpa doloribus reprehenderit pariatur libero rem dicta aspernatur, numquam voluptatibus?", stars: 5 %>
    <%= render "components/feedback_card", content: "3 Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Nam soluta iste repellat et nemo blanditiis id voluptates repellendus nesciunt cumque!", stars: 3.5 %>
    <%= render "components/feedback_card", content: "4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id et, facilis accusamus, libero explicabo natus cumque ex? Aliquid, blanditiis, sequi.", stars: 4.5 %>
    <%= render "components/feedback_card", content: "5 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias distinctio culpa doloribus reprehenderit pariatur libero rem dicta aspernatur, numquam voluptatibus?", stars: 2.5 %>
    <%= render "components/feedback_card", content: "6 Lorem ipsum dolor, sit amet consectetur, adipisicing elit. Nam soluta iste repellat et nemo blanditiis id voluptates repellendus nesciunt cumque!", stars: 5 %>
  </div>
</div>
<%= javascript_pack_tag "carousel" %>