<div class="row flex-center catalogue-container">
  <%= render "components/product_card", status: 1, title: "Formation Immobilier", description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ipsam nemo quas veniam ipsum ducimus.", cta: "Jusqu'à 350e par vente" %>
  <%= render "components/product_card", status: 2, title: "Formation ECommerce", description: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat cupiditate sapiente natus ullam et dolorum?", cta: "Jusqu'à 500e par vente" %>
  <%= render "components/product_card", status: 3, title: "Formation Mental d'Acier", description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae magni eligendi, ipsa dolor sint ratione.", cta: "Jusqu'à 250e par vente" %>
  <%= render "components/product_card", status: 3, title: "Formation Mental d'Acier", description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae magni eligendi, ipsa dolor sint ratione.", cta: "Jusqu'à 250e par vente" %>
  <%= render "components/product_card", status: 3, title: "Formation Mental d'Acier", description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae magni eligendi, ipsa dolor sint ratione.", cta: "Jusqu'à 250e par vente" %>
  <%= render "components/product_card", status: 3, title: "Formation Mental d'Acier", description: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae magni eligendi, ipsa dolor sint ratione.", cta: "Jusqu'à 250e par vente" %>
</div>