<div class="site-wrapper">
  <section class="tabs-wrapper">
    <div class="tabs-container">
      <div class="tabs-block">
        <div id="tabs-section" class="tabs">
          <ul class="tab-head">
            <% Product.all.each_with_index do |product, index| %>
              <li>
                <a href="#tab-<%= product.id %>" class="product-tab tab-link <%= 'active' if index == 0 %>"> <span class="material-icons tab-icon <%= product.icon %>"></span> <span class="tab-label"><%= product.title %></span></a>
              </li>
            <% end %>
          </ul>
          <% Product.all.each_with_index do |product, index| %>
            <section id="tab-<%= product.id %>" class="tab-body entry-content <%= 'active active-content' if index == 0 %> ">
              <div class="flex-center w-100">
                <img src="<%= product.logo %>" alt="">
              </div>
              <h3><i style="margin-right:11px;" class="fas fa-align-left"></i>Description</h3>
              <div class="product-rich-text product-description"><%= product.description.html_safe %></div>
              <h3><i style="margin-right:11px;" class="fas fa-list-ol"></i>Contenu</h3>
              <div class="product-rich-text product-content"><%= product.content.html_safe %></div>
              <h3><i style="margin-right:11px;" class="fas fa-coins"></i>Rémuneration</h3>
              <div class="product-rich-text product-rem"><%= product.rem.html_safe %></div>
              <h3><i style="margin-right:11px;" class="fas fa-clipboard-list"></i>Critères</h3>
              <div class="product-rich-text product-criterion"><%= product.criterion.html_safe %></div>
              <div class="spacer"></div>
              <div class="flex-center">
                <% if current_user.has_user_product(product) %>
                  <% if current_user.user_product(product).status == 1 %>
                    <div class="user-product-verified flex-center">
                      <p>Validé</p>
                      <i class="fas fa-check-circle"></i>
                    </div>
                  <% else %>
                    <div class="spinner-container flex-start">
                      <div class="verification-spinner"></div>
                      <p>Vérification en cours...</p>
                    </div>
                  <% end %>
                <% else %>
                  <% if product.status == 1 %>
                    <%= link_to("Choisir " + product.title, user_products_path(user_product: {user_id: current_user.id, product_id: product.id, status: 0}), class:"cta", method:"post") %>
                  <% else %>
                    <%= link_to( Product.statuses[product.status], user_products_path(user_product: {user_id: current_user.id, product_id: product.id, status: 0}), class:"cta disabled", method:"post") %>
                  <% end %>
                <% end %>
              </div>
            </section>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
<%= javascript_pack_tag "product_chooser" %>