<div class="flex-center form-outer-container">
  <div data-aos="fade-up" class="form-container">
    <div class="form-header">
      <img style="width: 53%;margin: 5px auto;display: block;" src="/logosq.png" alt="">
    </div>
    <!-- <div class="section-spacer card-spacer"></div> -->
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
    <div class="upper-form-group password">
      <%= f.input :password,
      label: false,
      placeholder: "Mot de passe",
            required: true,
            input_html: { class: "form-pw",autocomplete: "new-password" } %>
    </div>
    <div class="upper-form-group password">
      <%= f.input :password_confirmation,
      label: false,
      placeholder: "Confirmation du mot de passe",
            required: true,
            input_html: { class: ".form-pw",autocomplete: "new-password" } %>
    </div>
  </div>

  
  <div class="form-actions flex-center">
    <%= f.button :submit, "Réinitialisation", class:"cta cta-sm" %>
  </div>
<% end %>
 
  </div>
</div>

