<!-- HERO -->
<div id="section-1" class="section section-1">
  <%= render "sections/section_1" %>
</div>
<!-- /HERO -->
<div class="section-spacer">
</div>
<!-- AVANTAGES -->
<div id="section-2" class="section section-2">
  <%= render "sections/section_2" %>
</div>
<!-- /AVANTAGES -->
<div class="section-spacer">
</div>
<!-- COMMENT CA MARCHE -->
<div id="section-3" class="section section-3">
  <%= render "sections/section_3" %>
</div>
<!-- /COMMENT CA MARCHE -->
<div class="section-spacer primary-section-spacer">
</div>
<!-- CATALOGUE -->
<div id="section-4" class="section section-4">
  <%= render "sections/section_4" %>
</div>
<!-- /CATALOGUE -->
<!-- RETOURS -->
<div id="section-5" class="section section-5">
  <%= render "sections/section_5" %>
</div>
<!-- /RETOURS -->
<div class="section-spacer">
</div>
<!-- FAQ -->
<div id="section-6" class="section section-6">
  <%= render "sections/section_6" %>
</div>
<!-- /FAQ -->
<div class="section-spacer">
</div>
<!-- LAST -->
<div id="section-7" class="section section-7">
  <%= render "sections/section_7" %>
</div>
<!-- /LAST -->
<%= javascript_pack_tag "home_aos" %>
<%= javascript_pack_tag "home" %>