<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Monetize</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag "/favicon.ico" %>
    <!-- TrustBox script -->
    <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
    <!-- End TrustBox script -->
    
  </head>
  <body>
    <%= render "components/navbar" %>
    <%= yield %>
    <%= render "components/footer" %>
    <%= render "components/calendly_badge", user: current_user %>
    <%= render "components/alerts_notices", notice: notice, alert: alert %>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        disable: false,
        delay: 0, // values from 0 to 3000, with step 50ms
        duration: 400, // values from 0 to 3000, with step 50ms
        easing: 'ease-in-out-quart', // default easing for AOS animations
        once: false, // whether animation should happen only once - while scrolling down
        mirror: false, // whether elements should animate out while scrolling past them // if you are using turbolinks
        offset: 0, // offset (in px) from the original trigger point
      });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/tsparticles-plugin-polygon-mask@2.6.0/tsparticles.plugin.polygon-mask.min.js"></script>
    <!-- first include tsParticles engine -->
    <script src="https://cdn.jsdelivr.net/npm/tsparticles-engine"></script>
    <!-- then include any tsParticles plugin needed -->
    <script src="https://cdn.jsdelivr.net/npm/tsparticles/tsparticles.bundle.min.js"></script>
    <!-- then include jquery wrapper -->
    <script src="https://cdn.jsdelivr.net/npm/jquery-particles"></script>

    <script>
      $(document).ready(async function () {
    await loadFull(tsParticles);
    await loadPolygonMaskPlugin(tsParticles);
        

    $("#tsparticles")
        .particles()
        .init(
          {
  detectRetina: false,
  fpsLimit: 60,
  "fullScreen": {
    "enable": false,
    "zIndex": -1
  },

  interactivity: {
    detectsOn: "canvas",
    events: {
      onHover: {
        enable: true,
        mode: "bubble"
      },
      resize: true
    },
    modes: {
      bubble: {
        distance: 40,
        duration: 2,
        opacity: 8,
        size: 6,
        speed: 3
      }
    }
  },
  particles: {
    color: {
      value: "#38aecc",
      animation: {
        enable: false,
        speed: 20,
        sync: true
      }
    },
    lineLinked: {
      blink: false,
      color: "#38aecc",
      consent: false,
      distance: 30,
      enable: true,
      opacity: 0.3,
      width: 0.5
    },
    move: {
      attract: {
        enable: false,
        rotate: {
          x: 600,
          y: 1200
        }
      },
      bounce: false,
      direction: "none",
      enable: true,
      outMode: "bounce",
      random: true,
      speed: 0.5,
      straight: false
    },
    number: {
      density: {
        enable: false,
        area: 2000
      },
      limit: 0,
      value: 200
    },
    opacity: {
      animation: {
        enable: true,
        minimumValue: 0.05,
        speed: 2,
        sync: false
      },
      random: false,
      value: 1
    },
    shape: {
      type: "circle"
    },
    size: {
      animation: {
        enable: false,
        minimumValue: 0.1,
        speed: 40,
        sync: false
      },
      random: true,
      value: 1
    }
  },
  polygon: {
    draw: {
      enable: true,
      lineColor: "rgba(0,0,0,0.5)",
      lineWidth: 1
    },
    move: {
      radius: 10
    },
    inlineArrangement: "equidistant",
    scale: .5,
    type: "inline",
    url: "https://particles.js.org/images/smalldeer.svg"
  }
},
            function (container) {
                // container is the particles container where you can play/pause or stop/start.
                // the container is already started, you don't need to start it manually.
            }
        );

        


});
    </script>
  </body>
</html>